.metricas {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 32px;
    padding: 0 8% 96px 8%;
}

.metricas__titulo {
    color: var(--vinho);
    font-weight: 600;
    font-size: 3.75em;
}

.metricas__subtitulo {
    color: var(--cor-titulos);
    font-weight: 500;
    font-size: 1.125em;
    margin-top: 12px;
    margin-bottom: 8px;
}

.metricas__texto {
    color: var(--cinza);
    font-weight: 400;
    font-size: 1em;
}