
@media screen and (max-width: 800px) {
    body {
        font-size: 90%;
    }

    .metricas {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    nav .logo, .paginas, .botoes {
        display: none;
    }

    nav {
        padding: 0.5rem 0;
    }

    .nav__mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 1rem;
        position: relative;
    }

    .nav__mobile-logo {
        display: flex;
        align-items: center;
        
    }

    .nav__menu-hamburguer {
        width: 28px;
        height: 28px;
        background-image: url("../img/menu-icon.svg");
        background-repeat: no-repeat;
        display: inline-block;
        cursor: pointer;
    }

    .lista-menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--cinza-menu);
        height: 100vh;
        padding: 0.5rem 1rem;
    }

    .menu-hamburguer__interno {
        text-align: right;
    }

    .lista-menu hr {
        margin: 0.5rem 0;
    }

    .container__botao:checked~.lista-menu {
        display: block;
    }

    .container__botao {
        display: none;
    }

    .navegacao__paginas-lista, .botoes__menu-lateral {
        padding: 1em 0;
        text-transform: uppercase;
        text-align: right;
        margin-left: 8vw;
        margin-right: 0;
    }
    
    .botoes__menu-lateral {
        padding-top: 0.5rem;
    }

    header {
        padding: 100px 12vw;
    }

    .cabecalho-descricao {
        line-height: 1.4rem;
    }

    .metricas {
        padding: 0 8% 4rem 8%;
    }

    .vagas__talentos {
        padding-top: 4rem;
    }

    .vagas__talentos-texto {
        line-height: 1.4rem
    }

    .vagas__talentos-imagem {
        width: 100%;
    }

    .vagas__abertas {
        width: 68%;
    }

    .depoimentos {
        width: 92%;
        padding: 48px 32px;
    }

    .depoimentos__conteudo {
        line-height: 1.5rem;
    }

    .rodape__descricao {
        line-height: 1.4rem;
    }
   
    .email {
        width: 80%;
        max-width: 250px;
    }

    .copyrigth {
        line-height: 1.1rem;
    }
 }

@media screen and (max-width: 410px) {
    body {
        font-size: 80%;
    }

    .cabecalho-descricao {
        line-height: 1.2rem;
    }
    
    .metricas {
        display: flex;
        flex-direction: column;
        padding: 0 8% 3rem 8%;
    }

    .metricas__texto {
        line-height: 1.1rem;
    }

    .vagas__talentos {
        padding-top: 3rem;
    }

    .vagas__talentos-texto {
        line-height: 1.2rem
    }

    .vagas__abertas {
        width: 84%;
    }

    .depoimentos {
        width: 92%;
        padding: 32px 20px;
    }

    .depoimentos__conteudo {
        line-height: 1.3rem;
    }

    .rodape__descricao {
        line-height: 1.2rem;
    }

    .formulario {
        flex-wrap: wrap;
    }

    .email {
        width: 80%;
    }

    .copyrigth {
        line-height: 1.1rem;
    }
}
