@import url(css/navbar.css);
@import url(css/cabecalho.css);
@import url(css/metricas.css);
@import url(css/vagas.css);
@import url(css/vagas-abertas.css);
@import url(css/depoimentos.css);
@import url(css/rodape.css);

:root {
    --branco-principal: #FFFFFF;
    --vinho: #8E2424;
    --cinza: #667085;
    --cor-logo: #3A404E;
    --cor-titulos: #101828;
    --cor-borda: #EAECF0;
    --fonte-principal: 'Inter', sans-serif;
}

body {
    background-color: var(--branco-principal);
    font-family: var(--fonte-principal);
    color: var(--cinza);
}

.botao {
    background-color: var(--vinho);
    color: var(--branco-principal);
    padding: 0.65em 1.15em;
    border-radius: 7px;
    display: inline-block;
    cursor: pointer;
}

.botao:hover {
    opacity: 0.9;
}


